/* Default Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header  Settings */




header{
    /* DEBUG */
    height: 350px;
    background-color: darkblue;
}

header>nav{
    /* DEBUG */
    height: 50px;
    background-color: #add8e6;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Bar Menu settings */

/* logo */
#logo{
    
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
    
    /* DEBUG */
    padding-left: 10px;
    border: 1px dashed black;
    height: 100%;
    width: 25%;

}

/* login */
#login{

    /* debug */
    border: 1px dashed black;
    height: 100%;
    width: 25%;
    padding-right: 10px;
    

    /* flex */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}


/* all bar of menu */
#menu-bar{
    
    /* DEBUG */
    width: 70%;
    height: 30px;
    background-color: #daa520;
    border: 1px dashed black;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* option list */
#menu-list{
    list-style: none;
    width: 25%;
    /* flex*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* main of header */

header main{
    height: 300px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#center{

    /* debug */
    width: 60%;
    height: 200px;
    background-color: #fdbec3;
    border: 1px dashed black;
} 








/* --------------------------------- */
/* main settings */
.white-sec{
    height: 350px;

    /* DEBUG */
    border: 1px dashed black;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gray-sec{
    height: 350px;
    background-color: #d3d3d3;

    /* DEBUG */
    border: 1px dashed black;


    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#last-sec{
    height: 450px;

    /* DEBUG */
    background-color: #d3d3d3;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;

}



/* color sides */
.blue-left{
    background-color: #1e90ff;
    height: 100%;
    width: 60%;
    border: 1px dashed black;
}

.rose-right{
    background-color: #fdbec3;
    height: 100%;
    width: 40%;
    border: 1px dashed black;
}

.rose-left{
    background-color: #fdbec3;
    height: 100%;
    width: 40%;
    border: 1px dashed black;
}

.blue-right{
    background-color: #1e90ff;
    height: 100%;
    width: 60%;
    border: 1px dashed black;
}
/* -----END   colorside---- */

/* BOX SETTINGS */
.box{
    /* DEBUG */
    height: 250px;
    width: 70%;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#green-box{
    height: 400px;
    width: 70%;
    background-color: #228b22;
}