/* Default Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------------------- */

/* 

HEADER SETTINGS

*/


header{
    /* DEBUG */
    height: 350px;
    background-color: darkblue;
}

header>nav{
    /* DEBUG */
    height: 50px;
    background-color: #add8e6;
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Bar Menu settings */

/* logo */
#logo{
    
    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;  
    
    
    /* DEBUG */
    padding-left: 10px;
    border: 1px dashed black;
    height: 100%;
    width: 25%;

}

/* login */
#login{

    /* debug */
    border: 1px dashed black;
    height: 100%;
    width: 25%;
    padding-right: 10px;
    

    /* flex */
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}


/* all bar of menu */
#menu-bar{
    
    /* DEBUG */
    width: 70%;
    height: 30px;
    background-color: #daa520;
    border: 1px dashed black;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* option list */
#menu-list{
    list-style: none;
    width: 25%;
    /* flex*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* main of header */

header main{
    height: 300px;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#center{

    /* debug */
    width: 60%;
    height: 200px;
    background-color: #fdbec3;
    border: 1px dashed black;
} 

/* --------------------------------- */

/*

MAIN SETTINGS

*/


.white-sec{
    height: 350px;

    /* DEBUG */
    border: 1px dashed black;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#gray-sec{
    height: 350px;
    background-color: #d3d3d3;

    /* DEBUG */
    border: 1px dashed black;


    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#last-sec{
    height: 450px;

    /* DEBUG */
    background-color: #d3d3d3;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;

}



/* color sides */
.blue-left{
    background-color: #1e90ff;
    height: 100%;
    width: 60%;
    border: 1px dashed black;
}

.rose-right{
    background-color: #fdbec3;
    height: 100%;
    width: 40%;
    border: 1px dashed black;
}

.rose-left{
    background-color: #fdbec3;
    height: 100%;
    width: 40%;
    border: 1px dashed black;
}

.blue-right{
    background-color: #1e90ff;
    height: 100%;
    width: 60%;
    border: 1px dashed black;
}
/* -----END   colorside---- */

/* BOX SETTINGS */
.box{
    /* DEBUG */
    height: 250px;
    width: 70%;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#green-box{
    height: 400px;
    width: 70%;
    background-color: #228b22;
}


/* ---------------------------- */

/* 

FOOTER SETTINGS

*/

/* First Block */
#container{
    height: 400px;

    /* DEBUG*/
    background-color: black;
    border-bottom: 1px solid #d3d3d3;

    /* flex */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#column{
    /* DEBUG */
    height: 250px;
    width: 70%;
    background-color: tomato;

    /* flex */
    display: flex;
    align-items: stretch;
}

#red-x{
    width: 40%;


    /* DEBUG */
    border: 1px dashed black; 
}

#blue-x{
    width: 60%;


    /* DEBUG */
    border: 1px dashed black;
    background-color: #1e90ff;

    /* flex */
    display: flex;
    align-items: stretch;
}

.x{
    /* DEBUG */
    border: 1px dashed black;
    width: 25%;
}


/* Nav bar end. */

#bs-container{
    /* DEBUG */
    height: 100px;
    background-color: black;

    /* flex */
    display: flex;
    align-items: end;
    justify-content: center;
}

#bs-navbar{
    /* DEBUG */
    width: 70%;
    height: 30px;
    background-color: lightgreen;
    border: 1px dashed red;
}

